body {
  background-color: #edf2fb;
}
p{
    margin: -30;
    padding: -30
    overflow: inherit;
}
h1 {
    margin: 0
}
h2 {
  color: #023e8a;
font-family: sans-serif;
}    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8d99ae;
}
li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: #023047;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ccc5d1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
#container {
  position:relative;
  height:610px;
  width:610px;
}
#container img {
  position:absolute;
  left:0;
}
@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
#container img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
#container img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#container img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#container img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#container img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

p{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
    
    
}
h3{
  
    width:600px ;
    height:845px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p2{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h4{
  
    width:600px ;
    height:410px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p3{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h5{
  
    width:640px ;
    height:350px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p4{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h6{
  
    width:604px ;
    height:336px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p5{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h8{
  
    width:604px ;
    height:336px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p6{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h9{
  
    width:604px ;
    height:300px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p7{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h10{
  
    width:604px ;
    height:300px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p8{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h11{
  
    width:604px ;
    height:300px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p9{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}
h12{
  
    width:604px ;
    height:300px;
    border-radius: 10%;
    color: #111; 
    background: black; 
    box-shadow: 0 0 100px black; 
}
p10{
    padding-left:30px;
    font-family:fantasy;
    font-size: 30px;
    color:darkblue
}